@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');





* {
    padding: 0;
    margin: 0;
}

/* html {
    overflow-x: hidden;
} */



:root {
    --bg-color: var(--bs-primary);
    --bg-color-2: #E6E6E6;

}

p,a {
    font-family: 'Open Sans', sans-serif;
}

h1,.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* ================================== nav-section ==================================== */

button.navbar-toggler.d-lg-none,
button.navbar-toggler.d-lg-none:focus {
    box-shadow: none !important;
    border: none;
    outline: none;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    background: var(--bg-color) !important;
}




/* ================================== nav-section ==================================== */





/* =================================== hero section ================================== */
.hero-section {
    background: url(../../image/hero-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* =================================== hero section ================================== */





/* =================================== counter section ================================ */

.counter {
    background: var(--bg-color-2);
    z-index: 1;
}




/* =================================== counter section ================================ */




/* =================================== help care ======================================  */
.help-care {
    background: var(--bg-color);
    margin: 0;

}


/* =================================== help care ======================================  */






/* =================================== parcent-happiness ================================ */




/* =================================== parcent-happiness ================================ */




/* =================================== utilities ======================================== */

.btn {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: #fff;
    transform-origin: center;
    transform: scaleX(0);
    opacity: 0.15;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn:hover::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}



/* =================================== utilities ======================================== */

.btn i{
    transition: all 0.3s ease-in-out;
}

.btn:hover i,
.about-us button:hover i {
    transform: translateX(5px);
}



.main-parcent-content {
    background: var(--bg-color-2);
}


.our-method {
    background: var(--bg-color-2);
}

form .content button {
    letter-spacing: 5px;
    border-radius: 0px !important;
    transition: all 0.3s ease-in-out;
}

form .content button:hover {
    color: black;
    background: var(--bg-color);
}

.contact button {
    letter-spacing: 5px;
    border-radius: 0px !important;
    transition: all 0.3s ease-in-out;
}

.contact button:hover {
    color: black;
    background: white;
}


.social-media a i {
    font-size: larger;
    transition: all 0.3s ease-in-out;
}

.social-media a i:hover {
    color: var(--bg-color);
}



.subscribe :is(input, textarea) {
    color: var(--bg-color) !important;
    background: #000;
    box-shadow: none !important;
    border: none;
}

.subscribe :is(input, textarea)::placeholder {
    color: var(--bg-color) !important;
    opacity: 0.8;

    background: #000;
    box-shadow: none !important;
    border: none;
}


.map iframe {
    height: 50vh;
    width: 100vh;
}

@media only screen and (max-width:650px) {
    .map iframe {
        height: 50vh;
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    .map iframe {
        height: 30vh;
        width: 100%;
    }
}



footer li a{
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

footer li a:is(:focus,:hover) {
    color: var(--bg-color) !important;
    transform: translateX(7px);
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
    -ms-transform: translateX(7px);
    -o-transform: translateX(7px);
}