@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');





* {
    padding: 0;
    margin: 0;
}



:root {
    --bg-color:#F6CB00;
    --bg-color-2:#E6E6E6;

}


button.navbar-toggler.d-lg-none,button.navbar-toggler.d-lg-none:focus 
{
    box-shadow: none !important;
    border: none;
    outline: none;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    background: var(--bg-color) !important;
}
a {
    font-family: 'Bebas Neue', cursive;
}



.counter {
    background: var(--bg-color-2);
    margin-bottom: -10%;
    z-index: 1;
}
.counter p
{
    font-family: 'Open Sans', sans-serif;
}

.counter h1,.about-us button {
    font-family: 'Bebas Neue', cursive;
}

h6 i,button i {
    transition: all 0.3s ease-in-out;
}
h6:hover i,.about-us button:hover i{
    transform: translateX(5px);
}


.dash-file {
    background: var(--bg-color);
    position: relative;
    z-index: -1;
}
.help-care {
    background: var(--bg-color);
    margin: 0;

}



.main-parcent-content {
    background: var(--bg-color-2);
}

.parcent-content h1,.our-team-content h1{
    color: var(--bg-color);
    font-family: 'Bebas Neue', cursive;
}

button {
    border-radius: 0px !important;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-in-out;
  
}
button:hover 
{
    border-radius: 5px !important;
}

.parcent-content button:hover i,.our-team-content button:hover i,.our-method button:hover i {
    transform: translateX(15px);
}




.about-us button,.hero button {
    border-radius: 0px !important;
}




.our-method {
    background: var(--bg-color-2);
}

form .content button {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    border-radius: 0px !important;
    transition: all 0.3s ease-in-out;
}
form .content button:hover {
    color: black;
    background: #F6CB00;
}

.contact button {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    border-radius: 0px !important;
    transition: all 0.3s ease-in-out;
}
.contact button:hover{
    color: black;
    background: white;
}


.social-media a i {
    font-size: larger;
    transition: all 0.3s ease-in-out;
}
.social-media a i:hover {
    color: var(--bg-color);
}







.subscribe :is(input,textarea),::placeholder
{
    color: #F6CB00!important;
    background: #000;
    box-shadow: none!important;
    border: none;
}